<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WindwardReports" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <WindwardReports>

    <add key="license" value="bHtzLjSa8TwnWysGZbHlvj2B5T53uzsdJzqxHD1Zu61kYWW9LXD9j2wyRxZ8vGk2dpjpPHYSRQQ9 x2W0J7v5PCfI7z6n2vM3ZmC/PTba+w49WamUdv7zHTaZYQZmQK0FNtr7Dv1gDxY9wfUUL+o1rDzD vY5ta/ss6SHlLD3DdZRnaOuVdms/lTeLfb8vGms9JxhxhOkh5Sw9w3WUZyrjlSbKN5U3yysWMtpp PSfaITwnEvE9dTC5D3b44z12EkUXPcXlNHy68RYnWysGdOPvvj0gJzxsuvMsJ1srBvVgDz49wfUU bknxrDfKP7c9UP+HbKH1hWxSNQc2+XEfZhJFBD3F5TR9O/kWNch5pT6bMT9ni/mePco7LSc64R09 yGmUP1jxP3cIu4xlo/E/dxrhPzXT8wxlejkkZpt9nD3T4xRl+vEkJsppHGV6OQxmQL0cPMmhlHbY qT1lozEO9pvxH2ar84R3vHsdZ4HlPGdI+Ywm2vE8Pct7LTXTMzx22/GPcwi7jCbadb0vSmEUPRrh lGP5uT0nOvE0ZbHlhz3DMwTnqdmNJkS/D2yApQZ++nsUNr/xDHabfZU8wq+WPRrhlGKb+T8mQK8G PYH1D2ca8b092vMtJ6opBW/K4acuiaGlZ4HnP2eaURx2+n+dLomhlGeDJ7855fc9PcH1FD/LOy5n 0aGdJovxjDzDNy184zcEPdPzBHZArTxswi0GbMItBmzCLQZswK0GbDJXFD3F5TR9MDkWJjJVHz3H ZbR/eak9drv7HekjZaxvSys/Z8m7nvXh1x4="/>

  </WindwardReports>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
